<!DOCTYPE html>
<html lang="ru">

  <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<head>
  <!-- Кодировка -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Для IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Для мобильных устройств -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">   -->
  <!-- Иконка для сайта -->
  <link rel="shortcut icon" href="/assets/res/favicon.ico" type="image/x-icon">
  
  <!-- Заголовок -->
  <title>Э3 МГТУ им. Н. Э. Баумана</title>
  
  <!-- Стили -->
  <!-- Мои -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <!-- <link rel="stylesheet" media="only screen and (max-width: 1024px)" type="text/css" href="assets/css/main_1024.css"> -->

  <!-- Font Awasome -->
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- Скрипты -->
  <!-- JQ local -->
  <script src="/assets/js/jq/jquery-3.1.1.min.js"></script>
  <!-- Мои -->
  <script src="/assets/js/scripts.js"></script>
</head>

  <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

<body>